<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.sy.dao.BoardMapper">
    <select id="selectAll" resultType="BoardDto">
        SELECT bno, title FROM board
    </select>

    <select id="select" resultType="BoardDto">
        SELECT title FROM board
        WHERE bno = #{bno}
    </select>

    <select id="selectPost" resultType="PostDto">
        SELECT pno, title, content, writer, view_cnt, comment_cnt, up_date FROM post
        WHERE bno LIKE concat('%', #{bno})
        ORDER BY pno desc;
    </select>

    <insert id="insertBoard">
        INSERT INTO board(bno, title, reg_date) VALUES(#{bno}, #{title}, now())
    </insert>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM board
    </select>

    <delete id="deleteAll">
        DELETE FROM board
    </delete>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="PostDto">
        SELECT bno, pno, title, content, writer, view_cnt, comment_cnt, reg_date
        FROM  post
        WHERE bno LIKE concat('%', #{bno})
        <include refid="searchCondition"/>
        ORDER BY reg_date DESC, pno DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM  post
        WHERE bno LIKE concat('%', #{bno})
        <include refid="searchCondition"/>
    </select>
</mapper>